/** {
    box-sizing: border-box;
}*/

/* MENU BUTTON */

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    font-size: 16px;
    border: 1px solid rgb(172, 135, 219);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 33px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #141E30;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(red, green, blue, alpha);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #030303
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #030303;
}

/* Table Styling */

table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    border: 2.5px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px;
}

th {
    padding: 10px;
    background-color: black;
}

th,
td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgreen;
    text-align: center;
    font-size: inherit;
}

/* TEXT Styling */

body {
    background: #363636;
    background: -webkit-linear-gradient(-90deg, #141E30, #363636);
    background: linear-gradient(-90deg, #141E30, #363636);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: cursive;
    color: rgb(172, 135, 219);
    text-align: center;
}

h2,
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(172, 135, 219);
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(172, 135, 219);
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

h5 {
    font-size: x-large;
    font-family: Papyrus;
    color: deepskyblue;
    text-indent: 10px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: lightskyblue;
    font-size: large;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

li {
    font-family: unset;
    text-indent: 30px;
    font-size: larger;
}

/* IMAGE & VIDEO Styling */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px inset lightgrey;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#MusicVideo iframe {
    border: 5px ridge lightgray;
    border-radius: 5px;
    padding: 3px;
}

/* LINK Styling */

a:link {
    color: lightyellow;
}

a:visited {
    color: wheat;
}

a:hover {
    color: lightslategrey;
}

a:active {
    color: lightgreen;
}
